/* Your styles go here */
@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.css");

.jumbotron {
    background: url(https://images.unsplash.com/flagged/photo-1565896209840-a18b89dd65d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dXRhaHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    background-position: 0 -300px;
    background-size: cover;
}